* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    color: #333;
}

.header {
    height: 12vh;
    border-bottom: 1px solid rgb(230, 215, 215);
}

.header-container {
    max-width: 1450px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.header-container a {
    text-decoration: none;
}

.header-container .logo {
    color: red;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
}

.header-container .botao {
    font-size: 18px;
    color: black;
    font-weight: 700;
}

.main {
    max-width: 1000px;  
    margin: 0px auto;
    min-height: 100vh;
}
.main-container {
    max-width: 400px;  
    margin: 30px 0;
}

.main .passos {
    font-size: 13px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.main .planos {
    font-size: 11px;
    margin-bottom: 10px;
}

.main .listas .ion {
    color: red;
    font-size: 22px;
    padding-right: 10px;
}

.main .listas li {
    list-style: none;
    font-size: 16px;
    padding-bottom: 5px;
}

.main .texto {
    font-size: 13px;
    margin: 20px 0;
    max-width: 800px;
}

.main .texto a {
    text-decoration: none;
    color: rgb(72, 72, 207);
}

.main .texto a:hover {
    text-decoration: underline;
}

.main .botao {
    max-width: 500px;
    margin: 25px auto;
    align-items: center;
}

.main .botao button {
    background: #e50914;
    color: #fff;
    border: none;
    line-height: 50px;
    padding: 0 30px;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
}

.botao button a {
    text-decoration: none;
    color: inherit;
}

.botao button:hover {
    background: rgb(218, 10, 10);
    transition: 0.3 ease-in-out;
}

.footer {
    height: 28vh;
    background: rgb(197, 191, 191);
}

.footer-container {
    max-width: 1400px;
    margin: 20px auto;
}

.footer-container .text {
    color: grey;
    padding: 30px 0;
}

.footer-container .text a {
    text-decoration: none;
    color: inherit;
}

.footer-container .text a:hover {
    text-decoration: underline;
}

.footer-container .lista-footer {
    max-width: 850px;
    display: flex;
    justify-content: space-between;
}

.footer-container .lista-footer li {
    padding-bottom: 10px;
    list-style: none;
}

.footer-container .lista-footer li a {
    text-decoration: none;
    color: grey;
    font-size: 13px;
}

.footer-container .lista-footer li a:hover {
    text-decoration: underline;
}

.footer-container .language select {
    margin: 8px 0;
    background-color: #fff;
    color: grey;
    padding: 15px 20px;
    font-size: 15px;
}

.footer-container .language select:active {
    border-color: black;
}

table tbody .table-tr {
    display: flex;
    justify-content: space-between;
}

table tbody .table-tr td {
    border-bottom: 1px solid #ccc;
    min-height: 60px;  
    align-items: center; 
    display: flex;
}
