* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    color: #333;
}

.header {
    height: 12vh;
    border-bottom: 1px solid rgb(230, 215, 215);
    padding: 0 2rem;
}

.header-container {
    max-width: 1450px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.header-container a {
    text-decoration: none;
    width: 180px;
}

.header-container a img{
    width: 100%;
}

.header-container .botao {
    font-size: 18px;
    color: black;
    font-weight: 700;
    white-space: nowrap;

}

.main {
    max-width: 800px;
    margin: 0 auto;
    min-height: 70vh;
    padding: 0 1rem;
}

.main-container {
    max-width: 340px;
    margin: 50px auto;
    align-items: center;
    padding-top: 80px;
}

.main-container .icons {
    text-align: center;
    color: red;
    margin-bottom: 20px;
}

.main-container .icons .icon{
    font-size: 70px;
}

.main-container .icons .icon-1 {
    font-size: 50px;
}

.main .passos {
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.main .planos {
    font-size: 11px;
    text-align: center;
    margin-bottom: 10px;
}


.main .texto {
    max-width: 280px;
    margin: 0 auto;
    font-size: 16px;
    text-align: center; 
}

.main-container button {
    width: 100%;
    background: red;
    color: white;
    border: none;
    line-height: 50px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 25px;
    border-radius: 3px;
}
.main-container button a {
    text-decoration: none;
    color: inherit;
}

.main-container button:hover {
    background: rgb(218, 10, 10);
    transition: 0.3 ease-in-out;
}

.footer {
    min-height: 28vh;
    background: rgb(197, 191, 191);
    display: flex;
    flex-direction: column;
}

.footer-container {
    max-width: 1400px;
    margin: 20px auto;
    padding: 0 2rem;
}

.footer-container .text {
    color: grey;
    padding: 30px 0;
}

.footer-container .text a {
    text-decoration: none;
    color: inherit;
}

.footer-container .text a:hover {
    text-decoration: underline;
}

.footer-container .lista-footer {
    max-width: 850px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-container .lista-footer li {
    padding-bottom: 10px;
    list-style: none;
}

.footer-container .lista-footer li a {
    text-decoration: none;
    color: grey;
    font-size: 13px;
}

.footer-container .lista-footer li a:hover {
    text-decoration: underline;
}

.footer-container .language select {
    margin: 8px 0;
    background-color: #fff;
    color: grey;
    padding: 15px 20px;
    font-size: 15px;
}

.footer-container .language select:active {
    border-color: black;
}

@media(max-width: 600px){
    .header-container a {
        width: 130px;
    }

}
